## COVID-19 Data Insights Dashboard

In [64]:
import pandas as pd
import numpy as np
import streamlit as st
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("owid-covid-data.csv")

In [5]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [7]:
df['date'] = pd.to_datetime(df['date'])

In [9]:
countries_df = df[df['continent'].notna()]

In [11]:
country_list = sorted(countries_df["location"].unique())

In [66]:
selected_country = st.selectbox("Select Country", country_list)
country_data = countries_df[countries_df["location"] == selected_country]

In [19]:
latest_row = country_data.iloc[-1]

In [31]:
st.subheader(f"COVID-19 Summary — {selected_country}")

col1, col2, col3 = st.columns(3)

# Total Cases
total_cases = latest_row["total_cases"] if pd.notna(latest_row["total_cases"]) else 0
col1.metric("Total Cases", int(total_cases))

# Total Deaths
total_deaths = latest_row["total_deaths"] if pd.notna(latest_row["total_deaths"]) else 0
col2.metric("Total Deaths", int(total_deaths))

# Positivity Rate
positivity = latest_row["positive_rate"] * 100 if pd.notna(latest_row["positive_rate"]) else 0
col3.metric("Positivity Rate (%)", f"{positivity:.2f}%")

DeltaGenerator()

In [33]:
col4, col5, col6 = st.columns(3)

new_cases = latest_row["new_cases"] if pd.notna(latest_row["new_cases"]) else 0
col4.metric("New Cases Today", int(new_cases))

new_deaths = latest_row["new_deaths"] if pd.notna(latest_row["new_deaths"]) else 0
col5.metric("New Deaths Today", int(new_deaths))

total_tests = latest_row["total_tests"] if pd.notna(latest_row["total_tests"]) else 0
col6.metric("Total Tests", int(total_tests))

DeltaGenerator()

#### Total Cases Over Time

In [36]:
st.subheader("Total Cases Over Time")

fig_cases = px.line(
    country_data,
    x="date",
    y="total_cases",
    title=f"Total COVID-19 Cases in {selected_country}",
    labels={"total_cases": "Total Cases", "date": "Date"}
)

st.plotly_chart(fig_cases)

DeltaGenerator()

#### New Daily Cases

In [39]:
st.subheader("New Daily Cases")

fig_new_cases = px.line(
    country_data,
    x="date",
    y="new_cases",
    title=f"Daily New Cases in {selected_country}",
    labels={"new_cases": "New Cases", "date": "Date"}
)

st.plotly_chart(fig_new_cases)

DeltaGenerator()

#### Total Deaths Over Time

In [42]:
st.subheader("Total Deaths Over Time")

fig_deaths = px.line(
    country_data,
    x="date",
    y="total_deaths",
    title=f"Total COVID-19 Deaths in {selected_country}",
    labels={"total_deaths": "Total Deaths", "date": "Date"}
)

st.plotly_chart(fig_deaths)

DeltaGenerator()

#### New Daily Deaths

In [45]:
st.subheader("New Daily Deaths")

fig_new_deaths = px.line(
    country_data,
    x="date",
    y="new_deaths",
    title=f"Daily New Deaths in {selected_country}",
    labels={"new_deaths": "New Deaths", "date": "Date"}
)

st.plotly_chart(fig_new_deaths)

DeltaGenerator()

#### Plot Total Deaths Over Time

In [50]:
st.subheader("Total Deaths Over Time")
st.line_chart(country_data[['date', 'total_deaths']].set_index('date'))

DeltaGenerator()

#### Plot New Deaths Over Time

In [53]:
st.subheader("New Deaths Over Time")
st.line_chart(country_data[['date', 'new_deaths']].set_index('date'))

DeltaGenerator()

#### Plot Total Tests Over Time

In [56]:
st.subheader("Total Tests Over Time")
st.line_chart(country_data[['date', 'total_tests']].set_index('date'))

DeltaGenerator()

#### Plot Positive Rate Over Time

In [59]:
st.subheader("Positive Rate Over Time")
if 'positive_rate' in country_data.columns:
    st.line_chart(country_data[['date','positive_rate']].set_index('date'))
else:
    st.info("Positive rate data not available.")

#### Plot Stringency Index (Government Policy Strictness)

In [62]:
st.subheader("Government Stringency Index Over Time")
if 'stringency_index' in country_data.columns:
    st.line_chart(country_data[['date','stringency_index']].set_index('date'))
else:
    st.info("Stringency index data not available.")

## Final Summary

In this project, we analyzed COVID-19 data using Python and Streamlit.  
We created a dashboard where users can:

- Select any country
- View total and new cases trends
- View total and new deaths trends
- View testing and positivity rate trends
- View government stringency index (policy strictness)
- Interactively explore data over time

To run the interactive dashboard, use the command:
 !streamlit run app.py